body {
    background: #0f0f0f;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 100px;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #5865F2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}